<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828462630730-4td8phsvl7ojes7huj0ou28ecr60ft47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828462630730-4td8phsvl7ojes7huj0ou28ecr60ft47</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828462630730-v09hph111fmjhatuh80j25nfidks3t7m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxvLHtI1AnxUQR84gonHA7Jz2qQvJJxAc</string>
	<key>GCM_SENDER_ID</key>
	<string>828462630730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.machi.dev</string>
	<key>PROJECT_ID</key>
	<string>machi-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>machi-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:828462630730:ios:9084b589514d6ac572e3b3</string>
</dict>
</plist>
