<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350828450571-tej1jo4ofag50cq36q1l5kp1750q6qpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350828450571-tej1jo4ofag50cq36q1l5kp1750q6qpb</string>
	<key>API_KEY</key>
	<string>AIzaSyBdmC-TiOOdABZzZyOmK4tVnj8CtTiyRDE</string>
	<key>GCM_SENDER_ID</key>
	<string>350828450571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.machi</string>
	<key>PROJECT_ID</key>
	<string>fren-9cc3c</string>
	<key>STORAGE_BUCKET</key>
	<string>fren-9cc3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350828450571:ios:17294882ee8fc53be7480e</string>
</dict>
</plist>