<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607537888382-ra994jco7f9d5qrcs7h8oe8l47p4fis6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607537888382-ra994jco7f9d5qrcs7h8oe8l47p4fis6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>607537888382-nuusk888e146sak9klehshrc6nvpr0op.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDK33eb7RyaUisfgitMLsr243k-m1TjnOE</string>
	<key>GCM_SENDER_ID</key>
	<string>607537888382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.machi.uat</string>
	<key>PROJECT_ID</key>
	<string>machi-uat</string>
	<key>STORAGE_BUCKET</key>
	<string>machi-uat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607537888382:ios:8c12a769fc0580cc4aac2f</string>
</dict>
</plist>